.footer {
  background-color: $footer-background-color;
  color: $footer-text-color;
  padding-top: 0.5em;
  // padding-bottom: 0.5em;
  border-top: 3px solid $footer-border-color;
  text-align: center;
  a {
    text-decoration: none;
    display: block;
  }
}

.footer__right-border {
  border-right: 1px solid $module-border-color;
}

.footer__left-border {
  border-left: 1px solid $module-border-color;
}

.footer__highlight {
  border-top: 3px solid $main-black;
  opacity: 0.2;
  margin-top: -0.7em;
  margin-bottom: 0.7em;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.footer__title {
  text-transform: uppercase;
  padding-top: 0.5em;
  font-weight: 600;
}

.footer__content {
  @include wrap-words;
  font-size: 18px;
  padding-bottom: 0.5em;
  font-weight: 400;
}

.footer__content-digits {
}
