.footer {
  background-color: $main-black;
  color: $main-white;
  padding: 1em;
  border-top: 2px solid $main-white;
  text-align: center;

  a {
    text-decoration: none;
    color: $main-white;
  }
}
