.header {
  color: $main-blue;
  padding: 1em;
  font-size: 30px;
  padding-left: 0.5em;
}

.header__left {
  padding-left: 0.5em;
  text-align: left;
}

.header__center {
  text-align: center;
}

.header__right {
  padding-right: 0.5em;
  text-align: right;
}
