.product-select {
  background-color: $main-white;
  border-radius: 5px;
  margin: 0.3em;
  padding: 0.5em;
}

.product-select__image {
  text-align: center;
  margin: 0 auto;
  img {
    max-width: 100%;
    max-height: 95%;
  }
}

.product-select__title {
  font-size: 20px;
  font-weight: 300;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 0.2em;
}

.product-select__reseller-price {
  color: $main-blue;
  font-size: 18px;
}

.product-select__regular-price {
  color: $main-grey;
  text-decoration: line-through;
  font-size: 18px;
}
