.product-item {
  background-color: $main-white;
  border-radius: 2px;
  margin: 0.3em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.product-item__image {
  min-height: 100px;
  min-width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  margin: 0 auto;
}

.product-item__details {
  text-align: right;
  color: $main-blue;
  margin-bottom: 0.2em;
  padding-right: 1em;
}

.product-item__description {
  font-weight: 300;
  padding-right: 0.5em;
}
