a {
  display: block;
  cursor: pointer;

  &:active {
    -webkit-filter: opacity(0.85);
    filter: opacity(0.85);
  }
}

.\+clickable {
  display: block;
  cursor: pointer;

  &:active {
    -webkit-filter: opacity(0.85);
    filter: opacity(0.85);
  }
}
