input {
  -webkit-appearance: none;
  text-align: left;
  padding: 0.2em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 0.4em;
  // width: 90%;

  outline: none;
  box-shadow: none;
  @include border-radius(3px);

  // border: 2px solid $module-border-color;
  font-size: 18px;
  width: -webkit-fill-available;

  &:focus {
    border: 1px solid $main-blue !important;
  }
}

::placeholder {
   color: $main-grey;
   opacity: 0.6;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
