/* * {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
} */

.footer-placeholder {
  min-height: 95vh;
}

.footer {
  min-height: 2vh;
}

.header {
  min-height: 2vh;
}
