/* * {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
} */

html, body {
  height: 100%;
}

#app {
  height: 100%;
}

.header {
  min-height: 2vh;
}

.default-footer {
}

.default-layout {
}

.main-content {
  min-height: 85vh;
}
